.navbar {
    background-color: #18b1fd;
}

.navbar-brand {
    color: rgb(68, 68, 68);
}



.jumbotron h1 {
    color: rgb(0, 0, 0);
    margin-top: 150px;
}

.jumbotron p {
    color: rgb(0, 0, 0);

}

.jumbotron a {
    background-color: #ff9800;
    color: white;
    border: none;
}

.section {
    padding: 50px;
}

.section h2 {
    text-align: center;
}

.section p {
    text-align: justify;
}

.card {
    margin: 10px;
}

.card img {
    height: 200px;
}

.card-body {
    background-color: #f0f0f0;
}

.card-title {
    font-weight: bold;
}

.card-text {
    color: #666;
}

.card a {
    background-color: #ff9800;
    color: white;
    border: none;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
}

.footer a {
    color: white;
}